.hide {
    display: none;
}
/* BODY */
body {
    color:#434455;
    background: #FFF;
    font-family: "Roboto", sans-serif;


}
h1,
h2,
h3,
p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* HEADER */
.header {
    border-bottom: 1px solid#E7E9FC;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.container-header {
    display: flex;
}
.container {
    /* phone devices */
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;  
}
@media screen and (min-width:768px) {
  .container{
    /* Tablet devices */
    max-width: 768px;
     }
}
@media screen and (min-width:1158px) {
    /* Dekstop */
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.nav-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.logo-web {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* margin-right: 76px; */
    text-decoration: none;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}
.logo-studio {
    color:#2E2F42;
    font-family: "Raleway" , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03;

    /* margin-right: 76px; */
    text-decoration: none;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}
@media only screen and (min-width:768px) {
    .logo-web {
        margin-right: 120px;
    }
}
@media only screen and (min-width:1158px) {
    .logo-web {
        margin-right: 76px;
    }
}
.list-nav .nav {
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-nav {
    display: flex;
    gap: 40px;
}
@media only screen and (max-width: 767.98px){
    .list-nav{
   display: none; }
}
.nav {
    padding: 24px 0 24px 0;
    position: relative;
    text-decoration: none;
}
.nav.active {
    color: #404BBF;
    transition: color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}
.nav:hover , .nav:focus {
    color:#404bbf;
}
.address {
    font-style: normal;
    padding: 24px 0 24px 0;
}
    
.contacts {
    display: flex;
    gap: 40px;
  }   
  @media only screen and (max-width: 767.98px){
    .contacts{
   display: none; }
}
@media only screen and (min-width: 768px) {
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
}
@media only screen and (min-width:1158px) {
   .contacts {
   display: flex;
   flex-direction: inherit;
   gap: 40px;
   } 
}
.contacts .contacts-item {
    color:#434455;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts-item:hover , .contacts-item:focus{
    color:#404bbf;
}
.contacts-item {
    transition: color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Main Content */
.hero {
    max-width: 1440px;
    background-color:#2E2F42;
    background-image:linear-gradient(
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)),
    url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
   .hero-container {
    padding: 72px 20px;
   }
   @media only screen and (min-width:768px) {
    .hero-container {
        padding: 112px 136px 112px;
    }
   }
   @media only screen and (min-width:1158px) {
    .hero-container {
        padding: 188px 236px 188px;
    }
   }
.title {
    color:#fff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;

    text-align:center;
    max-width:496px;
    margin: auto;
    margin-bottom: 72px;
    
   font-size: 36px;
   line-height: 1.11; 
   text-transform: capitalize;
}
@media only screen and (min-width:768px) {
    .title {
font-size: 56px;
line-height: 1.07;
margin-bottom: 36px;
    }
}
@media only screen and (min-width:1158px){
    .title {
margin-bottom: 48px;
    }
}
.button-in-hero {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;

    color:#fff;
    background-color:#4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height:1.5; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-in-hero:hover , .button-in-hero:focus {
    background-color:#404BBF;
}
.under-hero {
    padding-top: 96px;
    padding-bottom: 96px;
}
/* Icons under hero */
.box-for-icons {
 display: flex;
 align-items: center;
 justify-content: center;
   
width: 264px;
height: 112px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid#8E8F99;
background: #F4F4FD;
padding: 24px 100px;
margin-bottom: 8px;
gap: 24px;
}
@media only screen and (max-width:1157.98px) {
    .box-for-icons {
        display: none;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
    overflow: hidden;
}

.list-criteria {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .list-criteria {
        gap: 72px 24px;
    }
}
@media only screen and (min-width: 1158px) {
    .list-criteria {
        display: flex;
        /* width: calc((100% - 72px) / 4); */
        gap: 24px;
    }
}
.item {
    /* Phone */
font-family: "Roboto";    
color:#2E2F42;
margin-bottom: 8px;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;

}
/* tablet */
@media only screen and (min-width: 768px) {
    .item {
    text-align: left; 
    }
}
/* Dekstop */
@media only screen and (min-width: 1158px) {
    .item {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
    }
    }
.text {
    /* Phone */
    color:#434455;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    text-align: left;
    
}
@media only screen and (min-width: 768px) {
.text {
    width: 356px;
}
}
@media only screen and (min-width: 1158px) {
    .text {
        width: 264px;
        font-weight: 400;
    }
}
/* Our Team */

.our-team-section {
    background-color:#F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}  
@media only screen and (min-width:1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
}
  }  


.team {
    max-width: 412px;
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    
}
@media only screen and (min-width:768px){
    /* tablet */
    .team {

        color:#2E2F42;
        font-family: "Roboto";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
    }
}
.list-our-team {
    /* phone */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
.list-of-people {
    width: 264px;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
    /* tablet */
   .list-our-team {
    justify-content: center;
    gap: 64px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    /* Dekstop */
    .list-our-team {
        gap: 24px;
    }
}

.employees {
    padding: 32px 0;   
}
.item-people {
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px; 
}

.text-people {
    color:#434455;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.pages-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.social-icons {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.link-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
   background-color: #4D5AE5;
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fill-icon {
fill: #f4f4fd;
}
.link-icons:hover , .link-icons:focus  {
    background-color: #404bbf;
}
 

/* Our Portfolio */
.our-portfolio-section {
    background:#FFF;
    padding: 120px 0 120px 0;
}
.list-of-offers {
    /* Phone */
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    /* row-gap: 48px;  */
    row-gap: 72px;
}

.items-list-of-offers {
    width: 100%;
    /* width: calc((100% - 48px) / 3);   */
    border-radius: 0 0 4px 4px;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width:768px) {
    /* Tablet */
   .items-list-of-offers {
    width: calc((100% - 24px * 1) / 2);
   } 
}
@media only screen and (min-width: 1158px){
    /* Desktop */
   .items-list-of-offers {
    width: calc((100% - 24px * 2) / 3);

   } 
}
.boxes-for-overlay{
    position: relative;
    overflow: hidden;
}

.overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;

padding: 40px 32px;
background-color: #4D5AE5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items-list-of-offers:hover .overlay{
   transform: translateY(0%);
}
.items-list-of-offers:hover {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-offers {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.item-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.text-portfolio {
    color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Footer */
.footer {
    background-color:#2E2F42;
    padding: 96px 0;
}
@media only screen and (max-width: 767.98px){
    .footer {
text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .container-footer {
        padding: 0 108px;
    }
}
@media only screen and (min-width: 768px) {
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}
@media only screen and (max-width: 767.98px) {
    .box-footer-one {
        margin-bottom: 72px;
    }
}
@media only screen and (max-width: 767.98px) {
    .icons-footer {
        margin-bottom: 72px;
    }
}
@media only screen and (min-width:1158px) {
    .icons-footer {
        margin-right: auto;
    } 
}
.logo-web-footer {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* margin-right: 76px; */
    display: block;
    margin-bottom: 16px;
    height: 21px;
}

 .logo-studio-footer {
    color:#f4f4fd;
    display:inline-block;
    margin-bottom: 16px;
    height: 21px;
 }

 .text-footer {
    color:#F4F4FD;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    text-align: left; 
 }
 
 .social-media-footer {
    
    color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
 }
 .pages-social-icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
}
 .container-footer {
    /* display: flex; 
    align-items: baseline;*/
 }
 @media only screen and (min-width:1158px) {
    .container-footer{
    gap: 0;
   }
 }
 .box-footer-one {
    /* margin-right: 120px */
 }
 @media only screen and (min-width:1158px) {
    .box-footer-one {
        margin-right: 120px;
    }
 }
 .icons-hover:hover , .icons-hover:focus {
    background-color: #31D0AA;
 }
 .fill-icon {
    fill: #F4F4FD;
 }
.footer-subscribe {
    /* margin-left: 80px; */
}
@media only screen and (min-width:768px) {
    .footer-subscribe {
        max-width: 453px;
        width: 100%;
    }
}
 .subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
 }
 .form-footer {
     display: flex; 
     flex-wrap: wrap;
    gap: 16px 24px;
    justify-content: center;
 }
 .footer-label {
    width: 100%;
 }
 @media only screen and (min-width:768px) {
  .footer-label {
    max-width: 264px;
  }  
 }
 .footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent; 
    line-height: 2;
    letter-spacing: 0.04em;
    font-size: 12px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
 }
 ::placeholder {
    color: #ffffff;
 }
 .footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5 ;
    cursor: pointer;
    border: none;
    border-radius: 4px;
 }
 .icon-subscribe {
    margin-left: 16px;
 }
 /* Modal window */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  } 
  .backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: initial;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%) scale(1); 
    min-height: 584px;

    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;

    background-color: #E7E9FC;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; 
    border-radius: 50%;

  }
  
  .modal-btn:hover, 
  .modal-btn:focus {
    background-color: #404bbf;
    border: none; 
  }
  .modal-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover .modal-btn-icon {
    fill: #FFFFFF;
  } 
  .modal-btn:focus .modal-btn-icon{
    fill: #FFFFFF;
  }
  .modal-caption {
    color: #2E2F42;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
  }
  .modal-form {

  }
  .modal-form-wrapper {
    margin-bottom: 8px;
  }
  .modal-form-textarea {
    margin-bottom: 16px;
  }
  .form-label {
    display: block;
    margin-bottom: 4px;
    color:#8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .form-field {
    position: relative;
  }
.form-input {
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
}
.form-input:focus {
    border-color:#4D5AE5;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
    fill: #4D5AE5;
}
.form-message {
   resize: none;
   width: 100%;
   height: 120px;
   flex-direction: column;
   padding: 8px 16px; 
   border-radius: 4px;

   line-height: 1.17;
   letter-spacing: 0.04em;
   font-size: 12px;
   color: rgba(46, 47, 66, 0.4); 
   border: 1px solid rgba(46, 47, 66, 0.40);
   outline: transparent;
   background-color: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-message::placeholder {
    color: #8E8F99;
}
.form-message:focus {
    border-color:#4D5AE5;
}
/* Checkbox */
.box-for-checkbox-label {
    margin-bottom: 24px;
}
.form-agreement {
    display: block;
    margin-bottom: 24px;

    color:#8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
user-select: none;
}
.checkbox {
}
.form-agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 16px;
   height: 16px;
  flex-shrink: 0;
  border-radius: 2px;
  
  border: 1px solid rgba(46, 47, 66, 0.40);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
             border 250ms cubic-bezier(0.4, 0, 0.2, 1),
               fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  cursor: pointer;
}
.checkbox:checked + .form-agreement > .form-agreement-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD; 
}
.checkbox:checked + .form-agreement > .form-agreement-checkbox > .form-agreement-icon {
    opacity: 1;
}
.form-agreement-icon {
    opacity: 0;
}
.form-agreement-link {
    color:  #4D5AE5;
text-decoration-line: underline;
}
.form-btn {
    min-width: 169px;
    height: 56px;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: #FFF;
background-color: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
border: none;
}
.form-btn:hover , .form-btn:focus {
    background-color:#404BBF;
}
/* Phone menu*/
.menu-btn {
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
}
@media only screen and (min-width: 768px) {
    .menu-btn{
        display:none;
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;

    background-color: #FFF;

    visibility: hidden;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms ease ;
}
.mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible ;
}
.mobile-menu .menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border: 1px solid #E7E9FC;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-btn-icon {
}
.mobile-menu-list {
    margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-link {
    color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.mobile-menu-link.current {
    color:  #404BBF;
}
.mobile-menu-contacts {
    margin-bottom: 48px;
}
.mobile-menu-contact {
    color: #434455;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.mobile-menu-contact.accent {
    color: #4D5AE5;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child){
    margin-bottom: 24px;
}

.mobile-menu-socials {
    gap: 40px;
} 
.pages-social-icons-footer {
}

